<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Message</title>
  </head>
  <body>
    <form method="post" style="margin: 30px">
      <div class="form-group">
        <textarea name="message" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success">Send {{contact.name}} Message ({{contact.phone}})</button>
      </div>
    </form>
  </body>
</html>
