<style type = "text/css">
.container {
 height:800px;
 display:flex;
 justify-content: center;
 align-items: center;
 }
 input {
   border-radius: 5px;
   border-width: 1px;
 }

</style>

<div class = "container">
<form method = "post" action = "/login">
 <input type = "text" name = "username" placeholder = "Name"><br>
 <input type = "password" name = "password" placeholder = "Password"><br>
</br>
 <input type = "submit" value = "login" name = "submit"><br>
</form>
</div>
