
<div class="row" class="col-xs-12" >
    <!-- <div class="col-xs-12 col-xs-offset-6" id="home"> -->
      <span>
<button class="search"><a href="/restaurants">View Restaurants </a></button>
<button class="search"><a href="/profiles"> View Users</a></button>
  </span>
  <!-- </div> -->
</div>
