<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>
<body>
  <div class="container">
    <h1>Yelp!</h1>
    {{{body}}}
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){
      $('.unfollowbutton').hide();

      $('.eachUser').on('click','.followbutton',function(){
        var userId = $(this).attr('user-id');
        console.log("user id", userId);
        // User.findById
        // $(this).hide();
        // $(this).siblings('.unfollowbutton').show();
        $.ajax('/follow/'+userId, {
          method: 'POST',
          success: function(data) {
            console.log('follow ajax', data);
            $(this).hide();
            $(this).siblings('.unfollowbutton').show();
          }
        })
      })

      $('.eachUser').on('click','.unfollowbutton',function(){
        var userId = $(this).attr('user-id');
        console.log("user id", userId);
        $.ajax('/unfollow/'+userId, {
          method: 'POST',
          success: function(data) {
            console.log('unfollow ajax', data);
            $(this).hide();
            $(this).siblings('.followbutton').show();
          }
        })
      })
      // $('.eachUser').on('click','.unfollowbutton',function(){
      //   $(this).hide();
      //   $(this).siblings('.followbutton').show();
      // })

    })
  </script>
</body>
</html>
