{{! YOUR CODE HERE }}
<form action="#" method="post">
  <input type="text" name="content" placeholder="Content">
  <input type="number" name="stars" placeholder="1-5">

  <input type="submit" value="Submit Review">
</form>
