<h3>Add a Restaurant</h3>

<div class="form-container col-xs-offset-4 col-xs-4">
  <form action="/restaurants/new" method="post">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="text" name="category" value="" placeholder="Category">
    <input type="text" name="address" value="" placeholder="Address">
    <input type="number" name="price" value="" placeholder="Price Score from 1-3">
    <input type="number" name="open" value="" placeholder="Opening Hour">
    <input type="number" name="close" value="" placeholder="Closing Hour">
    <input type="submit" name="" value="Add a Restaurant"></input>
  </form>
</div>
