<form class="" action="/restaurants/new" method="post">
  <h3>New Restaurant</h3>
  Name:
  <input type="text" name="name" value="" required> <br>
  Category
  <input type="text" name="category" value="" required> <br>
  Relative Price
  <input type="Number" name="price" value="" required> <br>
  Address
  <input type="text" name="address" value="" required> <br>
  Open Time:
  <input type="Number" name="opentime" value="" required> <br>
  Close Time:
  <input type="text" name="closetime" value="" required> <br>
  <input type="submit" name="submit">
</form>
