<h3>Add a Review for {{name}}</h3>


<br>

<div class="container">

  <form class="" action="/restaurants/{{id}}/new" method="post">
      <input type="textarea" name="review" value="" placeholder="REVIEW">
      <input type="number" name="rating" value="" placeholder="Stars 1-5">
      <input type="submit" name="" value="Submit Review">
  </form>

</div>
