<form class="" action="/restaurants/new" method="post">
  <h3>New Restaurant</h3>
  Name: <br>
  <input type="text" name="name" value="" required>
  Category <br>
  <input type="text" name="category" value="" required>
  Relative Price <br>
  <input type="Number" name="price" value="" required>
  Address <br>
  <input type="text" name="address" value="" required>
  Open Time: <br>
  <input type="Number" name="" value="" required>
  Close Time: <br>
  <input type="text" name="" value="" required>s
  <button type="button" name="button">Submit</button>
</form>
