{{! YOUR CODE HERE }}

<!-- <h4>Name:</h4>
<p>{{restaurant.name}}</p>

<h4>Category:</h4>
<p>{{restaurant.category}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p> -->

<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <h3>Add A Restaurant</h3>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div class="form-group">
    <label>Relative Price</label>
    <input type="text" name="relativePrice" class="form-control">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" name="address" class="form-control">
  </div>
  <div class="form-group">
    <label>Open Time</label>
    <input type="text" name="openTime" class="form-control">
  </div>
  <div class="form-group">
    <label>Close Time</label>
    <input type="text" name="closeTime" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Add Restaurant</button>
  </div>
</form>
