{{! YOUR CODE HERE }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="/js/contributions.js"></script>
<h1>Let's create es nuevo restaurante...</h1>
<form>
  Name: <input></input><br><br>
  Category: <input></input><br><br>
  Price: <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select><br><br>
  Address: <input></input><br><br>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=33.6434822,-117.5809571&zoom=15&size=600x300&maptype=roadmap&markers=color:red|33.6434822,-117.5809571"><br><br>
  Opening Time: <input></input><br><br>
  Closing Time: <input></input><br><br>
  </form>

  <!--
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
  70%
</div>
</div>


<form method="POST">
<input id="nameInput" type="text" name="name">name
<input id="amountInput" type="text" name="amount">amount
<button id="send-contribution">Add Contribution</button>
</form>


<h1>All the lovely contributors</h1>
