<!-- A name for the new restaurant
A category (could be a dropdown selector)
The relative price of the restaurant's items - on a scale of 1-3
An address for geocoding to coordinates
An open time
A closing time -->


<form>
  Name:<br>
  <input type="text" name="name"><br>
  Category:<br>
  <input type="text" name="category">
  Price:<br>
  <input type="text" name="price">
  Adress:<br>
  <input type="text" name="adress">
  Opens:<br>
  <input type="text" name="open">
  Closes:<br>
  <input type="text" name="close">

  <input type="submit" name="submit">
</form>
