{{! YOUR CODE HERE }}
<form  action="/restaurants/new" method="post">
  <input style="display: inline;" type="text" name="name" value="" placeholder="Your Restaurant Name">
  <input style="display: inline;" type="text" name="category" value="" placeholder="Your Cuisine">
  <input style="display: inline;" type="number" name="price" value="" placeholder="Your Price Scale">
  <input style="display: inline;" type="text" name="address" value="" placeholder="Your Address">
  <input style="display: inline;" type="number" name="opentime" value="" placeholder="Opening Time">
  <input style="display: inline;" type="number" name="closetime" value="" placeholder="Closing Time">
  <input style="display: inline;" type="submit" class="btn btn-primary" value="Submit your Listing!">
</form>
