<!-- <form action="/action_page.php" method="post">
  Restaurant Name:<br>
  <input type="text" name="name" value=""><br><br>
  Category:<br>
  <input type="text" name="category" value=""><br><br>
  Longitude:<br>
  <input type="text" name="long" value=""><br><br>
  Latitude:<br>
  <input type="text" name="lat" value=""><br><br>
  Price:<br>
  <input type="number" name="price" value=""><br><br>
  Open Time:<br>
  <input type="number" name="openTime" value=""><br><br>
  Closing Time:<br>
  <input type="number" name="closingTime" value=""><br><br>
  <input type="submit" class="btn btn-primary" value="Submit">
</form> -->

<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <h3>New Restaurant</h3>
  <div class="form-group">
    <label>Restaurant Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" name="address" class="form-control">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" name="price" class="form-control">
  </div>
  <div class="form-group">
    <label>Open Time</label>
    <input type="number" name="openTime" class="form-control">
  </div>
  <div class="form-group">
    <label>Closing Time</label>
    <input type="number" name="closingTime" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Register</button>
  </div>
</form>
