<h2> Add a Restaurant</h2>

<form action="/restaurants/new" method="Post">

  Name:<input type="text" name="name" value="" required><br>

  Category:<input type="text" name="category" value="" required><br>

  Relative Price:<input type="text" name="relativePrice" value="" required><br>

  Address:<input type="text" name="address" value="" required><br>

  Open Time:<input type="text" name="openTime" value="" required><br>

  Close Time: <input type="text" name="closeTime" value="" required><br>

  <input type="submit" name="submit" value="Add Restaurant" ><br>

</form>
