{{! YOUR CODE HERE }}
<form method="POST">
  <form class="form-inline">
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" placeholder="Name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
            <input type="text" class="form-control" name="categoty" placeholder="Categoty">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
    <input type="text" class="form-control" name="price" placeholder="Relative Price">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
    <input type="text" class="form-control" name="address" placeholder="Address">
      </div>
    </div>

    <div class="form-group ">
      <div class="col-sm-5">

    <input type="text" class="form-control " name="start" placeholder="start Time">
      </div>
      <div class="col-sm-5">

    <input type="text" class="form-control " name="end" placeholder="End Time">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add Restaurant</button>
      </div>
    </div>
  </form>

</form>
