{{! YOUR CODE HERE }}
<h3>Add a Restaurant</h3>
<form class="" action="index.html" method="post">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="category" value="" placeholder="category">
  <input type="number" name="price" value="" placeholder="price">
  <input type="number" name="address" value="" placeholder="address">
  <input type="number" name="openTime" value="" placeholder="open time">
  <input type="number" name="closingTime" value="" placeholder="closing time">
  <input type="submit" value="Add Restaurant">
</form>
