

<form class="container col-xs-6 col-xs-offset-3" action="/restaurants/new" method="post" style="text-align: center; border: 2px dashed pink; padding: 2em">
  <h3>Add a Restaurant</h2><br>
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="category" placeholder="Category"><br>
  <input type="text" name="price" placeholder="Relative Price"><br>
  <input type="text" name="address" placeholder="Address"><br>
  <input type="text" name="open" placeholder="Open Time"><br>
  <input type="text" name="close" placeholder="Close Time"><br><br>
  <input type="submit" class="btn btn-warning" name="button" value="Add Restaurant">
</form>
