{{! YOUR CODE HERE }}
<form style="width:30%" method='post' action='/restaurants/new'>
  <div class="form-group">
    <input class="form-control" name="name" placeholder="Enter name">
  </div>
  <select class="selectpicker" style="width:100%; margin-bottom:10px" data-style="btn-info" name="selectpicker">
    <optgroup label="Select Table">
      <option name="table1" value="Korean">Korean</option>
      <option name="table2" value="Barbeque">Barbeque</option>
      <option name="table3" value="Casual">Casual</option>
    </optgroup>
  </select>
    <div class="form-group">
      <input class="form-control" name="price" placeholder="Relative Price">
    </div>
    <div class="form-group">
      <input class="form-control" name="address" placeholder="Address">
    </div>
    <div class="form-group">
      <input class="form-control" name="openTime" placeholder="Open Time">
    </div>
    <div class="form-group">
      <input class="form-control" name="closingTime" placeholder="Close Time">
    </div>
    <input type="submit" class="btn btn-info" style="width:100%" value="Add Restaurant">
</form>
