<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <h3>Add a Restaurant</h3>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="restaurantName" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div class="form-group">
    <label>Relative Price, on a scale from 1-3</label>
    <input type="text" name="price" class="form-control">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" name="address" class="form-control">
  </div>
  <div class="form-group">
    <label>Opening time</label>
    <input type="text" name="openingTime" class="form-control">
  </div>
  <div class="form-group">
    <label>Closing time</label>
    <input type="text" name="closingTime" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Add Restaurant</button>
  </div>
</form>
