<h1 class="text-center page_title">Profiles</h1>

<div id=profiles>
  {{#each users}}
    <div class="profile">
      <div>
        <a href="/profiles/{{this.id}}"><h3> {{this.displayName}}</h3></a>
      </div> <div>
        <h5> {{this.location}}</h5>
      </div>
    </div>
    <br />
  {{/each}}
</div>
<br />
<form  class="back-button" action="/" method="get">
  <input style="display: inline;" type="submit" value="Back to Homepage >">
</form>
