{{! YOUR CODE HERE }}
<h4>{{this.name}}</h4>
<h5>{{this.price}}</h5>
<h5>{{this.category}}</h5>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=[LATITUDE],[LONGITUDE]&markers=color:red|[LATITUDE],[LONGITUDE]&zoom=13&size=600x300&maptype=roadmap">
