<h4>All Resturants</h4>


{{#each restaurants}}
  <div>{{this.name}}</div>
<div>{{this.category}}</div>
<div>{{this.price}}</div>
<div>how far</div>

<div> ************************<div>
{{/each}}
