<div class= "container">
{{#each restaurant}}
  <div class="restContain">
  <a href="/restaurants/{{this._id}}"><h2>{{this.name}}</h2></a>
  <p>Cuisine: {{this.category}}</p>
  </div>
{{/each}}
</div>
