<h2> Add a review for{{}}</h2>
<form action='/restaurant/{{restid}}' method="post">
<input type="textarea" name="content" value="content" placeholder="Review"><br>
<input type="Number" name="rating" value="rating" placeholder=" Rate on a scale of 1-5" ><br>
<input type="submit" name="submit" value="Post Review" ><br>
</form>
