{{! YOUR CODE HERE }}
<h4>Name:</h4>
<p>{{restaurant.name}}</p><br>

<h4>Price:</h4>
<p>{{restaurant.price}}</p>

<h4>Address:</h4>
<p>{{address}}</p>

<!-- <h4>Reviews:</h4>
<p>{{user.reviews}}</p> --> 


<a href='/'>Home</a><br>
<a href='/restaurants'>Restaurants</a>
