<h1 style="text-align:center;" class="blkJ">Black Jack</h1>
<form action="/game" method="POST" class="newGameBtn"><input type="submit" value="New Game" class="newGame"/></form>
<form id="betForm" action="" method="POST">
  <h2>Bet:</h2>
  <input type="number" value="numField" id="betInput" name="bet" placeholder="Bet amount" />
  <input type="submit" class="back" value="Submit" />
</form>


<h2 id="game-status"></h2>
<div class="user-area">
  <div id="user-buttons" class="controls">
    <input type="button" id="hit" value="Hit">
    <input type="button" id="stand" value="Stand">
  </div>
  <div id="user-hand" class="hand">
    <h2>User Hand</h2>
  </div>
  <div class="score-parent">
    <p>Score</p>
    <div id="user-score" class="score">
    </div>
  </div>
</div>
<div class="dealer-area">
  <div id="dealer-hand" class="hand">
    <h2>Dealer Hand</h2>
  </div>
  <div class="score-parent">
    <p>Score</p>
    <div id="dealer-score"class="score">
    </div>
  </div>
</div>
<a href='/' class="back" style="text-align:center;">Back to All Games</a>

<script type="text/javascript" src='/javascripts/game.js'></script>
