<form method="post">
  <div>
    <label>Username:</label>
  <input type="text" placeholder="Username" name="username" required>
  </div>
    <label>Password:</label>
  <input type="password" placeholder="Password" name="password" required>
  <div>
    <input type="submit" class="btn btn-success" value="Log In"/>
  </div>
</form>
