<!-- YOUR TEMPLATE HERE -->
<form method="POST">
  <fieldset class="form-group">
    <label for="loggingIn">Username</label>
    <input type="text" class="form-control" name="username" placeholder="user">
  </fieldset>
  <fieldset class="form-group">
    <label for="loggingInWPassword">Password</label>
    <input type="text" class="form-control" name="password" placeholder="pass">
  </fieldset>
  <button type="submit">Login</button>
</form>

<div class="card-footer text-center">
   <a href="/register">HELP ME REGISTER!!!!</a>
</div>