<form method="post">
  <div>
    <label>enter your username:</label>
    <input type="text" name="username"/>
  </div>
  

  <div>
    <label>enter your password:</label>
    <input type="text" name="password"/>
  </div>
  <div>
    <input type="submit" value="log in"/>
  </div>
</form>

