<!-- YOUR HBS TEMPLATE HERE -->
<form method="post">
Username: <input type="text" name="username"><br>
Password: <input type="password" name="password"><br>
Repeat Password: <input type="password" name="repeatpw"><br>
<button type="submit" class="btn btn-default">Register</button>
</form>
