<!-- YOUR HBS TEMPLATE HERE -->
<form method="post">
  User name:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  Confirm Password:<br>
  <input type="password" name="confirmPassword"><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>