<!-- YOUR HBS TEMPLATE HERE -->
<form method = "post">
<input type = "text" name = "username">
<input type = "password" name = "password">
<input type = "password" name = "passwordrepeat">
<input type = "submit">
</form>