<!-- YOUR HBS TEMPLATE HERE -->
<h1>Register Now!</h1>
<form>
	Username: <input type="text" name="username"><br>
	Password: <input type="password" name="password"><br>
	Repeat Password: <input type="password" name="password2"><br>
	<input type="submit">
</form>