<!-- YOUR HBS TEMPLATE HERE -->
<form method="post">x
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger" style="color:red">{{msg}}</div>
		{{/each}}
    <div style="height:20px"></div>
	{{/if}}
  <div>
    <div><label>Username</label></div>
    <div><input type="text" name="username" placeholder="ex. happyllama283"/></div>
  </div>
  <div>
    <div><label>Password</label></div>
    <div><input type="text" name="password" placeholder="same as below"/></div>
  </div>
  <div>
    <div><label>Password Repeat</label></div>
    <div><input type="text" name="passwordrepeat" placeholder="same as above"/></div>
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>