<!-- YOUR HBS TEMPLATE HERE -->

<form method="post">
  <div>
    <label>Username:</label>
  <input type="text" class="sm-col-4" placeholder="Username" name="username" required>
  </div>
  <div>
    <label>Password:</label>
  <input type="password" class="sm-col-4"  placeholder="Password" name="password" required>
</div>
<div>
  <label> Confirm Password: </label>
  <input type="password" class="sm-col-4"  placeholder="Confirm Password" name="confirm_password" required>
</div>
  <div>
    <input type="submit" class="btn btn-success" value="Log In"/>
  </div>
</form>
