<form method="post">
  <div>
    <label>choose a username:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <input type="submit" value="Register"/>
  </div>

  <label>choose a password:</label>
    <input type="text" name="password"/>
  </div>
  <div>
    <input type="submit" value="Register"/>
  </div>

  <label>re-type your password:</label>
    <input type="text" name="rePassword"/>
  </div>
  <div>
    <input type="submit" value="Register"/>
  </div>
</form>
