<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button class="btn btn-default" id="login"><a href="/login">Login</a></button>
<button class="btn btn-default" id="hidden"><a href="/hidden">Hidden</a></button>