body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.profilePic {
  height: 75px;
  padding: 0 30px;
}

.coverPhoto {
  height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tweet {
  border-style: solid;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 25px;
}

.navbutton {
  margin: 20px;
}
