body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  border-style: solid;
  border-radius: 1px;
  border: black;
}


.container-fluid {
  height: 10vh;
}
